<head>
    <link rel="stylesheet" href="/assets/home.css">
</head>
<body>
<div class="background-image">
</div>
<div class="home">
    <topmiddle>
        <p><a href="wasteruser/<%= currentuser.id%>">Profile</a></p>
    </topmiddle>
    <topleft>
    <leftleft>
        <Header><a href="/cafehome" >Food 4 Thought</a></Header>
        <Slogan>Turning Trash Into Treasure.</Slogan>
    </leftleft>
    <leftright>
    <%if(usermessage.to.length === 0){%>
        <a href="/message">Message</a>
    <%}%>
    <%if(usermessage.to.length !== 0){%>
        <a href="/message/<%=usermessage.to[0]%>">Message</a>
    <%}%>
    </leftright>
    </topleft>
    <topright>
        <p><a href="/">Log out</a></p>
    </topright>
    <middleleft>
        <div class="allfeeds">
            <div class="section">
                <form action="/cafehome" method="get">
                    <input type="text" name='search' placeholder="Search for charity">
                    <button class="button search">search</button>
                </form>
                <% userlist.forEach(function(user){%>
                <a href="/profilecharity/<%=user.id%>">
                    <div class="feeds js-click-block" >
                        <img src="<%= user.photo %>" class = "pic">
                        <span><b>Name: </b><%= user.name %></span><br>
                        <span><b>Location: </b><%= user.address %></span><br>
                        <span><b>Description: </b> <%= user.bio %></span>
                    </div>
                </a>
                <% });%>
            </div>
        </div>
    </middleleft>
    <bottomright>
        Powered by The Caffeine Addicts!
    </bottomright>
</div>
</body>