<h1><b><%='Coming soon'%></b></h1>
<h2><%= 'The Caffeine Addicts'%></h2>
<p><%='Qing Feng Chye'%></p>
<p><%='Quazi Fahimuzzaman'%></p>
<p><%='Adam Angelatos'%></p>

<p><%= 'Turn your trash into gold!'%></p>