<html>
<head>
    <title>Message</title>
    <link rel="stylesheet" type="text/css" href="/assets/message.css">
</head>
<body>
<div class="background-image">
</div>
<div class="home">
    <topmiddle>
        <%if(user.type === "charity"){%>
        <p><a href="/charityuser/<%= user.id%>">Profile</a></p>
        <%}%>
        <%if(user.type === "waster"){%>
        <p><a href="/wasteruser/<%= user.id%>">Profile</a></p>
        <%}%>
    </topmiddle>
    <topleft>
        <%if(user.type === "charity"){%>
        <Header><a href="/charityhome">Food 4 Thought</a></Header>
        <%}%>
        <%if(user.type === "waster"){%>
        <Header><a href="/cafehome">Food 4 Thought</a></Header>
        <%}%>
        <Slogan>Turning Trash Into Treasure.</Slogan>
    </topleft>
    <topright>
        <p><a href="/">Log out</a></p>
    </topright>
    <middleleft>
        <div class="friendlist" >
            <ul class="Conversation"></ul>
            <%if(messagebox.to.length !== 0){%>
            <% messagebox.to.forEach(function(friend){%>
            <a href="/message/<%=friend%>">
                <li class="friend1"><%= friend%></li>
            </a>
            <% });%>
            <%}%>
        </div>
        <div class="chatbox">
            <div class="chatlogs">
                <%if(messagebox.to.length !== 0){%>
                <% messagebox.msg.forEach(function(message){%>
                <% if((message.belonger === friend.name) && (message.sendto === messagebox.from)){ %>
                <div class="chat friend">
                    <div class="user-photo">
                        <img class = "photo" src=<%=friend.photo%>>
                    </div>
                    <p class="chat-message"><%= message.content%></p>
                </div>
                <% } %>
                <% if((message.belonger === messagebox.from) && (message.sendto === friend.name)){ %>
                <div class="chat self">
                    <div class="user-photo">
                        <img class = "photo" src=<%=user.photo%>>
                    </div>
                    <p class="chat-message"><%= message.content%></p>
                </div>
                <% } %>
                <% });%>
                <% } %>
                <div class="chat-form">
                    <form action="/message" method="post">
                        <textarea type="text" name="message"></textarea>
                        <button>Send</button>
                    </form>
                </div>
            </div>
        </div>
    </middleleft>
    <bottomleft>

    </bottomleft>
    <bottommiddle>

    </bottommiddle>
    <bottomright>
        Powered by the Caffeine Addicts!
    </bottomright>
</div>
</body>
</html>