<head>
    <link rel="stylesheet" href="/assets/profile.css">
</head>
<body>

<script>
    function Support() {
        usermodel.update(
            {id: user.id},
            {$addToSet: {supportingwasteprovider : user.name } }
        );
        return "chudurbudur";
    }
</script>

<div class="background-image">
</div>
<div class="page">
    <div class="banner">
        <div class="homelink">
            <a style="display: flex" href="/charityhome">
                <img src="/assets/green_apple.png" width="51" height="65">
                <div style="margin-left: 0.25em;margin-top: -0.25em">
                    <p>Food 4 Thought</p>
                </div>
            </a>
        </div>
        <div class="sidelink">
            <p><a href="/wasteruser/:id">Profile</a></p>
            <p style="padding-left: 2em"><a href="/">Log out</a></p>
        </div>
    </div>
    <div class="profilecontent">
        <div class="primaryinfo">
            <div>
                <img src="<%= user.photo %>" width="136" height="120"
                     style="border: 1px black solid">
            </div>
            <div style="margin-left: 2em">
                <p style="font-size: 30px;"><%=user.name%></p>
                <p><%=user.type%></p>
                <p><%="Member Since :- " + { $year: user.datecreated}%></p>
                <p><%="Location :- " + user.address%></p>
            </div>
            <div style="padding-left: 20%;padding-top: 3em">
                <button onclick="Support" style="margin-left: -2em;font-size: 1.25em">Support</button>
            </div>
            <div style="padding-left: 5%;padding-top: 3em">
                <a href="/message"><button style="margin-left: -1em;font-size: 1.25em">Contact</button></a>
            </div>
        </div>

        <div class="secondaryinfo">
            <div>
                <p style="padding-left: 7em;font-size: 24px">Bio</p>
                <div class="box1" style="font-size: 0.9em"><%=user.bio%></div>
            </div>
            <div style="padding-left: 4em">
                <p style="padding-left: 2.2em;font-size: 24px">Waste Accepted</p>
                <div class="box3" style="font-size: 18px;"><%=user.wasteaccepted%></div>
            </div>
        </div>
        <div class="tertiaryinfo">
            <p style="padding-left: 2em;font-size: 24px">List of Supporting Waste Providers</p>
            <div class="box2"><%=user.supportingwasteprovider%></div>
            <p style="padding-top: 9em;padding-left: 5em">***Recommended by us</p>
        </div>
    </div>
    <div class="bottompart">
        Powered by The Caffeine Addicts!
    </div>
</div>


</body>
