<head>
    <link rel="stylesheet" href="/assets/profile.css">
</head>
<body>

<div class="background-image">
</div>
<div class="page">
    <div class="banner">
        <div class="homelink">
            <Header><a href="/cafehome" >Food 4 Thought</a></Header>
            <Slogan>Turning Trash Into Treasure.</Slogan>
        </div>
        <div class="sidelink">
            <p><a href="/wasteruser/<%=profileId%>">Profile</a></p>
            <div class="logout">
                <p><a href="/">Log out</a></p>
            </div>
        </div>
    </div>
    <div class="profilecontent">
        <div class="primaryinfo">
            <div class="maininfo">
                <img src="<%= user.photo %>" width="136" height="120" style="border: 1px black solid">
                <div class="personalinfo">
                    <div class="name">
                        <p><%=user.name%></p>
                    </div>
                    <p><%=user.type%></p>
                    <p><%="Member Since :- " + user.datecreated.toISOString().substr(0,4)%></p>
                    <p>
                        <%="Location :- " + user.address%></p>
                </div>
            </div>
            <div class="buttons">

                <a href="/support/<%=user.id%>"><button>Support</button></a>
                <a href="/message/<%=user.name%>"><div class="secondbutton">
                        <button>Contact</button></div></a>
            </div>
        </div>

        <div class="secondaryinfo">
            <div>
                <div class="bioheader">
                    <p>Bio</p>
                </div>
                <div class="box1"><%=user.bio%></div>
            </div>
            <div class="waste">
                <div class="wasteheader">
                    <p>Waste Accepted</p>
                </div>
                <div class="box2">
                    <% user.wasteaccepted.forEach(function(waste){%>
                    <%=waste%><br>
                    <%});%>
                </div>
            </div>
        </div>
        <div class="tertiaryinfo">
            <div class="wasteprovider">
                <p>List of Supporting Waste Providers</p>
            </div>
            <div class="box2"><% user.supportingwasteprovider.forEach(function(supporter){%>
                <%=supporter%><br>
                <%});%>
            </div>
            <div class="recommended">
                <p>***Recommended by us</p>
            </div>
        </div>
    </div>
    <div class="bottompart">
        <div class="bottomright">
            Powered by <br>The Caffeine Addicts!
        </div>
    </div>
</div>


</body>
