<head>
    <link rel="stylesheet" href="/assets/profile.css">
</head>
<body>

<div class="background-image">
</div>
<div class="page">
    <div class="banner">
        <div class="homelink">
            <Header><a href="/cafehome" >Food 4 Thought</a></Header>
            <Slogan>Turning Trash Into Treasure.</Slogan>
        </div>
        <div class="sidelink">
            <p><a href="/wasteruser/<%=user.id%>">Profile</a></p>
            <p style="padding-left: 2em"><a href="/">Log out</a></p>
        </div>
    </div>
    <div class="profilecontent">
        <div class="primaryinfo">
            <div class="maininfo">
                <div>
                    <img src=<%=user.photo%> width="136" height="120"
                         style="border: 1px black solid">
                </div>
                <div class="personalinfo">
                    <div class="name">
                        <p><%=user.name%></p>
                    </div>
                    <p><%=user.type%></p>
                    <p><%="Member Since :- " + user.datecreated.toISOString().substr(0,4)%></p>
                    <p>
                        <%="Location :- " + user.address%></p>
                </div>
            </div>
            <div class="buttons">
                <div style="padding-left: 5%;padding-top: 3em">
                    <%if(mymessagebox.to.length === 0){%>
                    <a href="/message"><button style="font-size: 1em">Messages</button></a>
                    <%}%>
                    <%if(mymessagebox.to.length !== 0){%>
                    <a href="/message/<%=mymessagebox.to[0]%>"><button style="font-size: 1em">Messages</button></a>
                    <%}%>
                    <a href="/editprofile%>"><button style="margin-left: 1em;font-size: 1em">Edit Profile
                        </button></a>
                </div>
            </div>
        </div>

        <div class="secondaryinfo">
            <div>
                <p style="padding-left: 7em;font-size: 24px">Bio</p>
                <div class="box1" style="font-size: 0.9em"><%=user.bio%></div>
            </div>
            <div style="padding-left: 4em">
                <p style="padding-left: 2.2em;font-size: 24px">Waste Produced</p>
                <div class="box2" style="font-size: 18px;"><% user.wasteproduced.forEach(function(waste){%>
                    <%=waste%><br>
                    <%});%>
                </div>
            </div>  
        </div>
        <div class="tertiaryinfo">
            <p style="padding-left: 2em;font-size: 24px">Charities Supported</p>
            <div class="box2"><% user.charitysupported.forEach(function(charity){%>
                <%=charity%><br>
                <%});%>
            </div>
            <p style="padding-top: 9em;padding-left: 5em">***Recommended by us</p>
        </div>
    </div>
    <div class="bottompart">
        Powered by The Caffeine Addicts!
    </div>
</div>


</body>